datos=/home/OsoPOS/caja/venta.ultima
#ticket=/home/OsoPOS/scaja/ticket
programa.imprem=~/bin/imprem
precios=/home/OsoPOS/caja/precios.osopos
registro=/home/OsoPOS/scaja/log/ventas.hoy
ticket.pie=/home/OsoPOS/caja/pie_pagina.txt
ticket.encabezado=/home/OsoPOS/caja/encabezado.txt
registro.ticket=/home/OsoPOS/scaja/log/remision.hoy
